image: docker
services:
  - docker:dind

stages:
  - build
  - deploy 

build_image:
  stage: build
  script:
    - docker build --target=build -t builder .
    - docker run builder --name "cestquicegars"

pages:
  stage: deploy
  script:
    - docker cp cestquicegars:/app/dist/ dist
    - mkdir .public
    - cp -r dist/* .public
    - mv .public public
  artifacts:
    paths:
      - public
