stages:
  - build

# Build and push the Docker image to the GitLab image registry
# using Podman.
podman-build:
  stage: build

  image:
    name: quay.io/podman/stable

  script:
    # GitLab has a built-in Docker image registry, whose
    # parameters are set automatically. You can use some
    # other Docker registry though by changing the login and
    # image name.
    - podman login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - podman build -t "$CI_REGISTRY_IMAGE:builder" .
    - podman push "$CI_REGISTRY_IMAGE:builder"

# pages:
#   stage: deploy
#   script:
#     - docker cp cestquicegars:/app/dist/ dist
#     - mkdir .public
#     - cp -r dist/* .public
#     - mv .public public
#   artifacts:
#     paths:
#       - public
