image: docker:19.03.13

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

services:
  - docker:19.03.13-dind

before_script:
  - sleep 30s
  - docker info


stages:
  - build
  - deploy 

build_image:
  stage: build
  script:
    - docker build --target=build -t builder .
    - docker run builder --name "cestquicegars"

pages:
  stage: deploy
  script:
    - docker cp cestquicegars:/app/dist/ dist
    - mkdir .public
    - cp -r dist/* .public
    - mv .public public
  artifacts:
    paths:
      - public
